@import '../../node_modules/vuetify/src/stylus/settings/_colors'

$theme = {
	primary: #27AE60,
	accent: #172A3A,
	secondary: #0B1924,
	info: $blue.base,
	warning: $amber.base,
	error: $red.base,
	success: $green.base
}

@import url("//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic");
@import url("//fonts.googleapis.com/icon?family=Material+Icons");

@require '../../node_modules/highlight.js/styles/vs2015.css';
@require '../../node_modules/codemirror/lib/codemirror.css';
@require '../../node_modules/codemirror/theme/monokai.css';

@require '../../node_modules/vuetify/src/stylus/main';

.ellipsis
	text-overflow ellipsis
.vh-100
	height 100vh
	&-min
		min-height 100vh
	&-max
		max-height 100vh
.m-a
	margin auto


.ov
	background rgba(0,0,0,.5)
.h-100
	height: 100%
html
	overflow auto
	scroll-behavior smooth
iframe 
	width 100%
	height 100%

pre code 
	display block
	overflow-x auto
	padding 0.5em
	background #272822
	color #ddd

img 
	max-width 100%
	max-height 100%

.absolute
	position absolute

.relative
	position relative

.fixed
	position fixed

.sticky
	position sticky

.box
	width 100%
	height 100%

.animated 
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;

@keyframes rollIn 
	from 
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
		transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
	

	to 
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	
.rollIn 
	-webkit-animation-name: rollIn;
	animation-name: rollIn;


.rollOut 
	-webkit-animation-name: rollIn;
	animation-name: rollIn;
	animation-direction: reverse


.accent--alpha 
	background: alpha($theme.accent,0.8) !important

.select--none
	user-select none
	cursor default

.select--text
	user-select text
	cursor text

.pointer
	cursor pointer

.author
	cursor pointer
	border: $theme.primary 2px solid
	border-radius 50%
	height 300px
	width 300px
